*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

header .topBar{
    background-color: #000;
    color: #fff;
    font-size: 14px;
    width: 1300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
header .topBar span{
     color: #fb8500;
 }
 
  header .navContainer{
     display: flex;
     flex-direction: row;
     background-color: #F8F8FF;
    
 }
 
  header .navContainer .logo{
     margin-top: 30px;
     width: 80px;
     height: 80px;
     margin-left: 120px;

 }
 
  header .navContainer .logo img{
     width: 90%;
     height: 70%;
     margin-left: 60px;
 }
 
  header .navContainer nav{
     margin-left:140px;
     width:500px;
     height: 25px;
     display: flex;
     flex-direction: row;
     margin-top: 50px;

     
 }
  header .navContainer nav ul{
    margin-left: 150px;
     width: 500px;
     list-style: none;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 
  
  header .navContainer nav #close{
     display: none;
 }
 
  header .navContainer nav .B{
     text-decoration: none;
     color: #000;
     font-weight: 600;
 }
 
  header .navContainer .cart {
     margin-top: 50px;
     font-size: 20px;
     margin-left: 170px;
     width: 50px;
     height: 50px;
 }
  header .navContainer .cart #menu-btn{
     display: none;
 }
  .header .image{
     margin-left: 45px;
     margin-top: 20px;
     width: 69px;
     height: 54px;
     display: flex;
     flex-direction: row;
 }
  .header .nav{
     margin-top: 40px;
     margin-left: 100px;
     justify-content: space-between;
     gap: 20px;
     display: flex;
     flex-direction: row;
 
 }
  .header .nav .home{
     text-decoration: none;
     justify-content: space-between;
     color: #000000;
 }
  .header .nav img{
     width: 24px;
     height: 24px;
 }
 .header .cart{
    margin-left: 150px;
    background-color: #F8F8FF;
 }
 
.hero img{
    width: 1280px;
    height: 800px;
    
 }
 .hero h1{
    position: absolute;
    top: 320px;
    color: white;
    left: 400px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align: center;
    font-size: 35px;
 }
 .section{
    display: flex;
    flex-direction: row;
 }
 .section .container{
    border-radius: 175px;
    height: 350px;
    width:350px;
    margin-left: 80px;
    background-color: #E65C0F;
    display: flex;
    flex-direction: row;
 }
 .section img{
    margin-left: 20px;
    margin-top: 10px;
 }
 .section .text{
    margin-top: 100px;
    margin-left: 150px;
 }
 
 .data .blog{
    position: absolute;
    top: 1500px;
    z-index: -3;
    height: 240px;
 }

 .data .pic{
    width: 855px;
    margin-top: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 185px;
  
 }
 .data .pic img{
    width: 50px;
    height: 50px;
 }
 .data .no{
    width: 865px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 190px;
    font-size: 45px;
    font-weight: 800;
 }
 .data .state{
    width: 875px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 190px;
    font-size:20px;
    font-weight: 600;
 }
 .gallery{
    margin-top:18;
 }
 .gallery h2{
    margin-left: 500px;
    margin-bottom: 20px;
    font-size: 40px;
    color: #FF5D01;
    margin-top: 180px;
 }
 .gallery img{
    margin-top: 80px;
    width: 1260px;
    height: 600px;
 }
 .client h2{
    margin-left: 500px;
    margin-top: 120px;
    font-size: 30px;
    font-weight: 600;
 }
 .client .say{
    display: flex;
    flex-direction: row;
 }
 .client .say img{
    width: 100px;
    height: 100px;
    margin-left: 420px;
    margin-top: 50px;
 }
 .client .say .image{
    margin-left: 30px;
    border: dashed;
    width: 350px;
    height: 180px;
    color:  #F8F8FF;
 }
 .client .say p{
    margin-top: 80px;
    margin-left: 50px;
 }
 .client .button{
    width: 80px;
    height: 14px;
    margin-left: 600px;
 }

 .footer{
    margin-top: 90px;
    background-color: #000000;
    height: 520px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.footer img{
    width: 80px;
    height: 60px;
    color: white;
    margin-left: 120px;
    margin-top: 160px;
}
.footer p{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 80px;
}
.footer .visa{
    margin-top: 60px;
     width: 220px;
     height: 50px;
}
.footer .quick{
    margin-left: 100px;
    margin-top: 100px;
    font-size: 30px;
}
.footer .quick .tag{
    font-size: 15px;
    margin-top: 80px;
}
.footer .quick .copy{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 120px;
}
.footer .news{
    margin-left: 70px;
    margin-top: 100px;
    font-size: 30px;
}
.footer .news .to{
    font-size: 15px;
}
.footer .news .form{
    width: 230px;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    background-color: #fb8500;
    color: #000000;
    font-weight: 900;
    margin-left: 120px;
    margin-top: 50px;
}  
.footer .form button{
    padding: 8px;
    background-color: #fb8500;
} 
.footer .news .privacy{
    font-size: 15px;
    margin-top: 80px;
    margin-left: 180px;
}

@media(max-width:500px){
    body{
        width: 100vw;
        height: 100%;
        overflow-x: hidden;
        background-color: white;
    }
    
    header .topBar{
        background-color: #000;
        color: #fff;
        font-size: 9px;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
     }
    header .topBar span{
         color: #fb8500;
     }
     
      header .navContainer{
         display: flex;
         flex-direction: row;
         background-color: #F8F8FF;
        
     }
     
      header .navContainer .logo{
         margin-top: 30px;
         width: 50px;
         height: 60px;
         margin-left: 10px;
    
     }
     
      header .navContainer .logo img{
         width: 90%;
         height: 70%;
     }
     
      header .navContainer nav{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 5px;
        width: 50%;
        height: 100%;
        display: none;
        flex-direction: column;
        background-color: #fff;
        z-index: 5;
        
    
         
     }
      header .navContainer nav ul{
         width: 100%;
         height: 300px;
         list-style: none;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         margin-left: 5px;
     }
     
      
      header .navContainer nav #close{
         display: flex;
         margin-left: 150px;
         font-size: 20px;
     }
     
      header .navContainer nav .B{
         text-decoration: none;
         color: #000;
         font-weight: 600;
     }
     
      header .navContainer .cart {
        margin-top: 30px;
        margin-left: 180px;
        width: 10px;
        height: 10px;
        display: flex;
        flex-direction: row;
        gap: 25px;
        font-size: 25px;
     }
      header .navContainer .cart #menu-btn{
        display: flex;
        flex-direction: row;
        width: 20px;
        height: 20px;
        font-size: 25px;
     }
      .header .image{
         margin-left: 45px;
         margin-top: 20px;
         width: 69px;
         height: 54px;
         display: flex;
         flex-direction: row;
     }
      .header .nav{
         margin-top: 40px;
         margin-left: 100px;
         justify-content: space-between;
         gap: 20px;
         display: flex;
         flex-direction: row;
     
     }
      .header .nav .home{
         text-decoration: none;
         justify-content: space-between;
         color: #000000;
     }
      .header .nav img{
         width: 24px;
         height: 24px;
     }
     .header .cart{
        margin-left: 150px;
        background-color: #F8F8FF;
     }
     
    .hero img{
        width: 100%;
        height: 400px;
        
     }
     .hero h1{
        position: absolute;
        top: 260px;
        color: white;
        left: 50px;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        width: 300px;
        text-align: center;
        font-size: 18px;
     }
     .section{
        display: flex;
        flex-direction: row;
        border: dashed white;
     }
     .section .container{
        border-radius: 175px;
        height: 100px;
        width:100px;
        margin-left: 20px;
        background-color: #E65C0F;
        display: flex;
        flex-direction: row;
     }
     .section img{
        margin-left: 10px;
        margin-top: 4px;
     }
     .section .text{
        margin-top: 15px;
        margin-left: 25px;
        font-size: 10px;
     }
     
     .data .blog{
        position: absolute;
        top: 800px;
        z-index: -3;
        height: 150px;
        width: 350px;
     }
     .data .blog img{
      width: 100%;
      height: 100%;
     }    
     .data .pic{
        width: 240px;
        margin-top: 175px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 50px;
      
     }
     .data .pic img{
        width: 30px;
        height: 30px;
     }
     .data .no{
        width: 240px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 50px;
        font-size: 25px;
        font-weight: 800;
     }
     .data .state{
        width: 280px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 40px;
        font-size: 16px;
        font-weight: 500;
     }
     .gallery{
        margin-top:18;
     }
     .gallery h2{
        margin-left: 80px;
        margin-bottom: 20px;
        font-size: 30px;
        color: #FF5D01;
        margin-top: 120px;
     }
     .gallery img{
        margin-top: 40px;
        width: 100%;
        height: 100%;
     }
     .client h2{
        margin-left: 80px;
        margin-top: 120px;
        font-size: 20px;
        font-weight: 600;
     }
     .client .say{
        display: flex;
        flex-direction: row;
     }
     .client .say img{
        width: 80px;
        height: 80px;
        margin-left: 10px;
        margin-top: 50px;
     }
     .client .say .image{
      border: dashed;
        margin-left: 30px;
        border: dashed;
        width: 280px;
        height: 150px;
        color:  #F8F8FF;
     }
     .client .say p{
        margin-top: 70px;
        margin-left: 15px;
        font-size: 12px;
     }
     .client .button{
        width: 60px;
        height: 14px;
        margin-left: 130px;
     }
    
     .footer{
        margin-top: 90px;
        background-color: #000000;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer img{
        width: 80px;
        height: 60px;
        color: white;
        margin-left: 50px;
        margin-top: 50px;
    }
    .footer p{
        color: white;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-top: 30px;
    }
    .footer .visa{
        margin-top: 30px;
         width: 220px;
         height: 50px;
    }
    .footer .quick{
        margin-left: 10px;
        margin-top: 20px;
        font-size: 25px;
    }
    .footer .quick .tag{
        font-size: 15px;
        margin-top: 20px;
    }
    .footer .quick .copy{
        font-size: 15px;
        display: flex;
        flex-direction: row;
        color: white;
        margin-top: 50px;
    }
    .footer .news{
        margin-left: 10px;
        margin-top: 30px;
        font-size: 20px;
    }
    .footer .news .to{
        font-size: 15px;
        margin-top: 20px;
    }
    .footer .news .form{
        width: 256px;
        display: flex;
        flex-direction: row;
        font-size: 10px;
        background-color: #fb8500;
        color: #000000;
        font-weight: 900;
        margin-left: 50px;
        margin-top: 30px;
    }  
    .footer .form button{
        padding: 12px;
        background-color: #fb8500;
    } 
    .footer .news .privacy{
        font-size: 15px;
        margin-top: 60px;
        margin-left: 110px;
    }
    

}
